#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 4px;
	background-color: @main-bg;
}

/*--------------
    tooltips
--------------*/

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}

/* Not the standard color in the theme.css file, but looks good enough */
#submap {
    background-color: #ff5555; /* Bright Red */
    color: #ffffff;
    padding: 0 15px;
    margin: 4px 0;
    border-radius: 5px;
    font-weight: bold;
}
