// Machine-specific overrides (monitors, render device, ...).
include optional=true "local.config.kdl"

// Keybindings.
include "binds.kdl"

spawn-at-startup "fcitx5" "-d"

spawn-at-startup "noctalia"

input {
    keyboard {
        xkb {
            layout "us"
            // variant "dvorak"
        }

        numlock
    }
    touchpad {
        // off
        tap
        dwt
        dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 2

    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // proportion 0.33333
        proportion 0.5
        // proportion 0.66667
        proportion 1.0
    }

    // "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        // proportion 0.33333
        proportion 0.5
        // proportion 0.66667
        proportion 1.0
    }

    // [0.0, 1.0], empty => Let app decide
    default-column-width { proportion 0.5; }

    focus-ring {
        // off

        width 2

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        inactive-color "#505050"
    }
}

hotkey-overlay { skip-at-startup; }

// Set to null to disable saving screenshots to disk.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    // slowdown 3.0
}

environment {
    // QT_QPA_PLATFORMTHEME "qt6ct"
    // XDG_THEME "Dark"
    QT_IM_MODULE "fcitx"
    QT_IM_MODULES "fcitx"
    XMODIFIERS "@im=fcitx"
    NOCTALIA_PAM_SERVICE "noctalia-lock"
}

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 4

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    match app-id="mpv"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}


